.navigationBar {
  width: 100%;

  display: grid;
  grid-template-columns: 170px auto 200px 60px;
  background-color: #262626;
}

.title{
  font-size:2em;
  margin-bottom: 2%;
  margin-left:10%;
  color:burlywood;
}

.links{
  color: white;
  align-self: center;
}

.links > a{
  text-decoration: none;
  color: white;
  margin: 5px 15px;
}

.links > a:hover{
  color: #697268;
}

.username{
  font-size: 20px;
  color: white;
  margin: 2% 5px;
  align-self: center;
  justify-self: flex-end;
}
.logout{
  background-color: #262626;
  border: none;
  padding-top: 10px;
}
.logout :hover{
  transform: scale(1.5);
}