.navigationBar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #262626;
}

.left-navbar{
  width: 80%;
  color: white;
}

.left-navbar > label{
  font-size:2em;
  margin: 2% 20px;
  color:burlywood;
}

.left-navbar > a{
  text-decoration: none;
  color: white;
  margin: 5px 15px;
}

.left-navbar > a:hover{
  color: #697268;
}

.right-navbar{
  width: 20%;
  padding-right: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.right-navbar > label{
  font-size: 20px;
  color: white;
  margin: 2% 5px;
}