.nav-bar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #262626;
}

.title {
  width: 50%;
  margin: 8px;
}

.item {
  font-size: 20px;
  color: green;
  float: left;
  text-decoration: none;
}

.item:hover {
  color: white;
}

.action-bar {
  width: 50%;
  margin: 8px;
  padding-right: 15px;
}

.btn {
  float: right;
  font-size: 16px;
  background-color: green;
  color: white;
  margin-right: 7px;
  border-radius: 4px;
  text-decoration: none;
  padding: 3px 10px;
}

.btn:hover {
  background-color: white;
  color: green;
}
