.dashboard{
    width: 100%;
    height: 100vh;
    background-color: #E0E2DB;
    display:flex;
    flex-direction: column;
}
.content-page{
    display: flex;
    flex-direction: row;
}

.card{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.configuration{
    width: 50%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.last-row{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.configuration-view{
    width:90%;
    height: 90vh;
    margin-top:20px;
    background-color: white;
    border-radius: 20px;
}